*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.imagem-fundo{
    height:100%;
    width: 100%;
    background-image: url("../img/fundoVermelho.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    background-color: whitesmoke; 
    position: fixed;
    top: 0%;
    width: 100%;
    height: 6vh;
    font-size: 1.2em;
    border-bottom: solid 2px rgb(41, 13, 13);
    z-index: 999;
}

.menu ul{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.menu li{
    list-style: none;
}

.menu a{
    color:rgb(41, 13, 13); 
    text-decoration: none;
    letter-spacing: 3px;
}

.menu a:hover{
    color: #c31f1e;
    border-bottom: 3px solid #c31f1e;
    transition: 500ms;    
}

.titulos-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30vh;
    width: 100%;
    height: 40vh;
    background-color: whitesmoke;
    font-family:'Montserrat', sans-serif;
}

.site-subtitle,
.site-title {

    text-align: right;
    color: #c31f1e;
}

.sobrenome{
    color:rgb(41, 13, 13);
    font-weight: 300;
}

.site-title{
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 4.5em;
    letter-spacing: 5px;
}

.site-subtitle{
    padding-right: 1.7em;
    padding-left: 1.7em;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
}

.profissao, .senioridade{
    font-weight: 300;
    color: rgb(41, 13, 13);
}


/* @@@@@@@@@@@@@@@@@@@@@@@ PERFIL @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.perfil{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
}

.titulo-perfil{
    padding-top: 1.4em;
    text-align: center;
    color: rgb(41, 13, 13);
    font-size: 3em;
    letter-spacing: 5px;
    font-style: normal;
}

.paragrafo-perfil, .lista-perfil{
    font-size: 1.4em;
    text-align: justify;
    line-height: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

.paragrafo-perfil{
    color: rgb(41, 13, 13);
}

.lista-perfil{
    width: 86vw;
    margin-top: 1em;
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
}

.lista-perfil>*{
    flex: 555px;
}

.lista-perfil:nth-last-child(1){
    padding-bottom: 1.5em;
}

.perfil figure{
    text-align: center;
}

.paragrafo-perfil{
    font-weight: 300;
}

.imagem-perfil {
    padding-top: 2em;
    height: 200px;
    width: 200px;
    object-fit:cover;
    object-position: center;
}
/* $$$$$$$$$$$$$$$$$$$   Projetos $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.projetos{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
}

.titulo-projetos{
    padding-top: 0.7em;
    padding-bottom: 2em;
    text-align: center;
    color: rgb(17, 9, 9);
    font-size: 3em;
    letter-spacing: 5px;
    font-style: normal;
}

.projetos .grid{
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 48px - 8em);
    grid-column-gap: 5em;
    grid-row-gap: 3em ;

}

.projetos figure{
    text-align: center;
}

.projetos figcaption{
    text-align: center;
    color: rgb(17, 9, 9);
    font-size: 1.5em;
    font-weight: bold;
}

.imagem-projeto{
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    object-position: center top;
    transition: 500ms;
    box-shadow: 9px 9px 9px rgba(50, 50, 50, 0.77);
    filter: grayscale(100%);
    margin-bottom: 1.2em;

}

.imagem-projeto:hover{
    transform: scale(1.2);
    filter: none;
}

.grid:nth-last-child(1){
    padding-bottom: 4em;
}

/******************************* Contato  ********************************* */

.contato{

    height: auto;
    width: 100%;
    background-color: #c31f1e;
}

.contato-titulo{
    padding-top: 0.5em;
    text-align: center;
    color: whitesmoke;
    font-size: 3em;
    letter-spacing: 5px;
    font-style: normal;
}

.grid-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato a {
    color: whitesmoke;
    font-size: 4em;
    text-decoration: none;
    padding: 0.5em;
}

.contato a:hover{
    text-shadow: 0px 0px 10px whitesmoke;
}

/* ------------------------MEDIA QUERIES --------------------------------------- */

@media(min-width: 1920px){
    .menu{
        font-size: 1.9em;
    }

    .paragrafo-perfil{
        font-size: 2.3em;
    }

}

@media(min-width: 1680px){
    .menu{
        font-size: 1.7em;
    }

    .paragrafo-perfil{
        font-size: 2em;
    }

}

@media(min-width: 1440px){
    .menu{
        font-size: 1.3em;
    }

    .paragrafo-perfil{
        font-size: 1.7em;
    }

}

@media(max-width: 1200px){
    
    .menu{
        
        width: 100vw;
        height: 5vh;
        font-size: 1.2em;
    }
    .menu ul{
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        height: inherit;
        font-weight: bolder;
    }

    .perfil{
        top: 100vh;
    }

    .lista-perfil{
        width: 25vw;
    }
}

@media(max-width: 1035px){
    
    .menu{
        
        width: 100vw;
        height: 5vh;
        font-size: 1.2em;

    }
    .menu ul{
        padding-top: 0.4em;
        height: inherit;
        font-weight: bolder;
        padding-bottom: 0.4em;
    }

    .perfil{
        top: 70vh;
    }

    .lista-perfil{
        width: 25vw;
    }

    .projetos .grid{
        grid-template-columns: repeat(2, 45vw);
        gap: 1em;
        height: auto;
    }

    .imagem-projeto{
        height: 35vh;
        width: 35vw;
        margin-bottom: 1.5em;
    }

    .grid figcaption{
        margin-bottom: 2em;
    }

    .titulo-projetos{
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .ultima-fig-projeto{
        padding-bottom: 1em;
    }

}

@media(max-width: 725px){
    
    .menu{
        width: 100vw;
        height: 5vh;
        font-size: 0.9em;
    }
    .menu ul{
        padding-top: 0.4em;
        height: inherit;
        font-weight: bolder;
    }

    .menu a{
        padding: 0.1em;
    }

    .perfil{
        top: 60vh;
    }

    .titulo-perfil{
        font-size: 2em;
    }

    .paragrafo-perfil, .lista-perfil{
        font-size: 1.1em;
    }

    .lista-perfil{
        width: 25vw;
    }
    
    .projetos .grid{
        gap: 2em;
        height: auto;
    }

    .titulo-projetos{
        padding-bottom: 1em;
    }

    .grid figcaption{
        margin-bottom: 1.5em;
    }

    .grid:nth-last-child(1){
        padding-bottom: 0;
    }

    .projetos .grid{
        grid-template-columns: repeat(1, 95%);
        height: auto;
        }

    .imagem-projeto{
        width: 95%;
    }
 
}

    @media(max-width: 553px){
    .site-title{
        font-size: 3.5em;
    }

    .site-subtitle{
        font-size: 1.0em;
        letter-spacing: 2.5px;
    }

}


