body{

    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/277.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    background-color: #fcf694;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #FF312E;
}

.titulos{
    position: absolute;
    top: 330px;
    right: 570px;
    width:350px;
    background-color: rgba(255, 186, 172, 0.4);
}

.site-subtitle,
.site-title {
    padding: 3px;
    text-align: center;
    color: #42140C;
}


